<%- include('../partials/header') %>
    <h2 class="bg-blue-700">list index page</h2>
    <form id="add-list-form" method="POST" action="/lists">
        <h2>Add List</h2>
    <label>List Title</label>
    <input type="text"  required name="title">
    <input type="submit" value="Add List"/>
    </form>
</br>
    <!-- <table>
      <thead>
        <tr id="list-table-key">
          <th>List Name</th>
          <th>delete?</th>
        </tr>
      </thead>
      <tbody> -->
          <ul>
        <%lists.forEach(function(l) { %>
        <!-- <tr class="content"> -->
          <!-- <td> -->
              
            <!-- </td> -->
          <!-- <td> -->
              
          <form id="delete-list-form" action="/lists/<%=l.id%>?_method=DELETE" method="POST" >
              <!-- action="/lists?_method=DELETE"> -->
            <buttonx type="submit">delete</button>
            <!-- <input type="submit" value="Delete List"> -->
            <li>
            <a href="/lists/<%= l._id%>"><%=l.title%></a>
        </li>
          <!-- <form id="delete-list-form" method="DELETE" action="/lists">
            </form></td> -->
        <!-- </tr> -->
        <% }) %>
    </ul>
      <!-- </tbody>
    </table> -->
  <%- include('../partials/footer') %>

