<%- include('../partials/header') %>
<%- include('../partials/nav-bar') %>


<div class="home-page">
  <div id="full-home-page">
  <h2>Home</h2>

  <form id="add-list-form" method="POST" action="/lists">
    <h2>Add List</h2>
    <label id="input-text">List Title</label>
    <input type="text"  required name="title">
    <div>
      <button type="submit" >add list</button>
    </div>
  </form>
  </br>

  <div class="list-of-lists">
    <%lists.forEach(function(l) { %>
      <div id="each-list">
        <form id="delete-list-form" action="/lists/<%=l.id%>?_method=DELETE" method="POST" >
        <a href="/lists/<%= l._id%>"><%=l.title%></a>
          <div>
            <button type="submit">delete</button>
          </div>
      </div>
    <% }) %>
  </div>
  </div>
</div>

<%- include('../partials/footer') %>

