<%- include('../partials/header') %>
<%- include('../partials/nav-bar') %>
    <div class="show-page">
    <h2>list detail show page</h2>
    <% if (list !== undefined) { %>

    <div>Title: <%=list.title%></div>
    <div class="list-of-items">Items: 
    <% if (list.items.length) { %> <%list.items.forEach(function(i){ %>
      <div id="each-item">
      <form id="delete-item-form" action="/lists/<%=list.id%>/items/<%=i._id%>?_method=DELETE" method="POST" >
        <button type="submit">purchased</button>
      </form>
      

    <!-- <div><%=// i.purchased%></div> -->
    <div><%=i.details%></div>
    <% }); %> <% } else { %>
    <div>no items yet</div>
    <% } %>
  </div>

    <form id="add-item-form" method="POST" action="/lists/<%=list._id%>/items">
      <h2>Add Item</h2>
      <label id="input-add-item">Item Name</label>
      <input type="text" required name="details" />
      <button type="submit">Add Item</button>
    </form>
    </div>
    <% }%>

  </div>

<%- include('../partials/footer') %>

