<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav-bar-wrapper">
        <h2>Wishlist City</h2>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout">Log Out</a>
            <span>Hi <%= user.name %> </span>
            <% } else { %>
            <a href="/auth/google"> Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
    <h2>list detail show page</h2>
    <% if (list !== undefined) { %>

    <div>Title:<%=list.title%></div>
    <div>Items:</div>
    <% if (list.items.length) { %> <%list.items.forEach(function(l){ %>
    <div><%=l.details%></div>
    <!-- purchased will be a checkbox -->
    <div><%=l.purchased%></div>
    <% }); %> <% } else { %>
    <div>no items yet</div>
    <% } %>

    <form id="add-list-form" method="POST" action="/lists/<%=list._id%>/items">
      <h2>Add Item</h2>
      <label>Item Name</label>
      <input type="text" required name="details" />
      <input type="submit" value="Add Item" />
    </form>
    <% }%>
  </body>
</html>
